{% load helpers %}
{% if perms.vault.view_password %}

<div class="card">
    <div class="card-header">
        <h5>Passwords</h5>
        <div class="card-actions">
            <a class="btn btn-ghost-primary btn-sm" href="{% url 'vault:password_add' %}?object_type={{ object|content_type_id }}&object_id={{ object.pk }}&return_url={{ request.path }}">
                <span class="mdi mdi-plus-thick"></span>  Add Password
            </a>
        </div>
    </div>
    
    <div class="card-body">
        
        
            {% if passwords.exists %}
                <form id="password_form">
                    {% csrf_token %}
                </form>
                <table class="table table-hover">
                    <tr>
                        <th>User Name</th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                    {% for password in passwords %}
                        <tr>
                            <td>{{ password.username|linkify }}</td>
                            <td>{{ password.role }}</td>
                            <td class="text-end noprint">
                               
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="text-muted">None</div>
            {% endif %}
        
    </div>
</div>




{% endif %}