{% load helpers %}
{% if perms.phone.view_numberassigment %}
    <div class="card">
        <div class="card-header">
            <h5>Assigned Numbers</h5>
            <div class="card-actions">
                <a class="btn btn-ghost-primary btn-sm" href="{% url 'phone:numberassignment_add' %}?caller=panel&object_type={{ object|content_type_id }}&object_id={{ object.pk }}&caller=panel&return_url={{ request.path }}">
                    <span class="mdi mdi-plus-thick"></span>  Add Assignment
                </a>
            </div>
        </div>
        
        <div class="card-body">
            
            
                {% if number_assignment.exists %}
                    <form id="numberassignment_form">
                        {% csrf_token %}
                    </form>
                    <table class="table table-hover">
                        <tr>
                            <th>Number</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                        {% for number in number_assignment %}
                            <tr>
                                <td>{{ number.number|linkify }}</td>
                                <td>{{ number.role }}</td>
                                <td class="text-end noprint">
                                   
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <div class="text-muted">None</div>
                {% endif %}
            
        </div>
    </div>
{% endif %}
